// ******************************************************************
//
//   #settings.grid
//
// ******************************************************************


$susy: (
  container: 40em,
  columns: 12,
  gutters: .25,
  column-width: rhythm(3),
  gutter-position: inside-static,
);
