/ FIXME: Remove inline styles

/[if lt IE 9]
  sass:
    body
      text-align: center
      padding-bottom: 60px
      margin: 0px
      padding-left: 15px
      padding-right: 15px
      font-family: sans-serif
      color: #222
      padding-top: 60px

    #old-browser-dialog
      border: #ccc 3px solid
      margin: 0 auto 80px auto
      max-width: 860px
      background: #fff

      .header
        margin-top: 0
        background: url(https://raw.githubusercontent.com/renatocarvalho/proper-old-browser-warning/master/images/old-browsers/icon-alert.png) no-repeat center top
        padding-top: 120px

      .innercol
        padding-bottom: 20px
        padding-left: 40px
        padding-right: 40px
        padding-top: 20px

      .footer
        margin-top: 50px

      h1, h2, h3, h4, h5
        margin: 0px

      h1
        line-height: 28px
        margin-bottom: 10px
        letter-spacing: -1px
        color: #000
        font-size: 24px

      h2
        line-height: 21px
        margin: 0px auto
        max-width: 600px
        color: #333
        font-size: 15px
        font-weight: normal

      h5
        color: #666
        font-weight: normal

      p
        line-height: 21px
        color: #666
        font-size: 14px

      a
        color: #477b96
        text-decoration: none
        &:link, &:visited
          color: #477b96
          text-decoration: none
        &:hover
          text-decoration: underline
          &:visited
            text-decoration: underline

      ul.downloads
        padding-bottom: 0px
        list-style-type: none
        margin: 40px 0px 20px
        padding-left: 0px
        padding-right: 0px
        overflow: hidden
        list-style-image: none
        padding-top: 0px

        li
          text-align: center
          width: 25%
          float: left

        div
          border-left: #efefef 1px solid
          padding-bottom: 0px
          padding-left: 0px
          padding-right: 0px
          padding-top: 0px
          &.first
            border-left: medium none

        h4
          margin: 0px 0px 2px
          a
            display: block
            background: url(https://raw.githubusercontent.com/renatocarvalho/proper-old-browser-warning/master/images/old-browsers/icons-browsers.png) no-repeat center top
            padding-top: 76px
          &#download_firefox a
            background-position: center -144px
          &#download_chrome a
            background-position: center -288px
          &#download_safari a
            background-position: center -432px

  #old-browser-dialog
    .innercol
      .header
        h1 Por favor atualize seu navegador para usar este site
        h2 Este site utiliza tecnologias de ponta. Isso deixa o site mais rápido e fácil de usar. Infelizmente o seu navegador não suporta estas tecnologias maravilhosas. Faça o download de um desses ótimos browsers abaixo e você estará no caminho certo:

      ul.downloads
        li
          .first
            h4#download_ie
              a title="Download Internet Explorer" href="http://www.microsoft.com/windows/internet-explorer/" <span>Internet Explorer</span>
        li
          h4#download_firefox
            a title="Download Mozilla Firefox" href="http://www.mozilla.com/firefox/" <span>Mozilla Firefox</span>
        li
          h4#download_chrome
            a title="Download Google Chrome" href="http://www.google.com/chrome/" <span>Google Chrome</span>
        li
          h4#download_safari
            a title="Download Apple Safari" href="http://www.apple.com/safari/" <span>Apple Safari</span>
      .footer
        p Se você já atualizou seu navegador e continua tendo problemas por favor nos avise.


noscript
  .browser-warning
    p Your browser has <strong>javascript turned off</strong>. Please <a href="http://www.activatejavascript.org/">enable javascript</a>, or you may need to <a href="http://browsehappy.com/">upgrade your browser</a>.
