noscript
  .browser-warning
    p Your browser has <strong>javascript turned off</strong>. Please <a href="http://www.activatejavascript.org/">enable javascript</a>, or you may need to <a href="http://browsehappy.com/">upgrade your browser</a>.
