/[if lt IE 9]
  .browser-warning
    p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

noscript
  .browser-warning
    p Your browser has <strong>javascript turned off</strong>. Please <a href="http://www.activatejavascript.org/">enable javascript</a>, or you may need to <a href="http://browsehappy.com/">upgrade your browser</a>.
