meta charset='utf-8'
title Middleman Startaê
= stylesheet_link_tag 'application.css', media: 'all'
link rel='dns-prefetch' href='//cdnjs.cloudflare.com'
link rel='dns-prefetch' href='//www.google-analytics.com'
link rel='shortcut icon' href="#{image_path('favicon.png')}"
meta content='initial-scale=1, user-scalable=yes, width=device-width' name='viewport'
meta http-equiv='X-UA-Compatible' content='IE=edge'
meta content='on' http-equiv='cleartype'
meta content='True' name='HandheldFriendly'
meta content='320' name='MobileOptimized'
/ -------------------------------------
/ Modernizr - Development version
/ This is the Development version. Remember to use
/ the build tool below to pick only the tests you need.
/ -------------------------------------
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js'
/[if lt IE 9]
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
= yield_content :head
