<?xml version="1.0" encoding="UTF-8"?>
urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  - sitemap.resources.select{ |page| page.path =~ /\.html/ }.each do |page|
    url
      loc #{data.global.site_url}#{page.url}
      lastmod = Time.now.strftime("%Y-%m-%d")
      changefreq = page.data.changefreq || 'monthly'
      priority = page.data.priority || 0.5
